![LOGO_PUJ.png]()
***Pontificia Universidad Javeriana***
# **Procesamiento de Alto Volumen de Datos**

### Taller: **SQL con PySpark**

Autor: Paula Andrea Velasquez Romero

Fecha: 5/05/2025

**Objetivo**: Uso de SQL como motor de Consultas sobre DataFrame Spark.

Proporciona una abstracción de programación denominada DataFrames y también puede actuar como motor de consulta SQL distribuido. Permite ejecutar consultas Hadoop Hive no modificadas hasta 100 veces más rápido en implementaciones y datos existentes. También proporciona una potente integración con el resto del ecosistema Spark (por ejemplo, integrando el procesamiento de consultas SQL con MLib).

Spark SQL aporta soporte nativo para SQL a Spark y agiliza el proceso de consulta de datos almacenados tanto en RDD como en fuentes externas. Spark SQL difumina convenientemente las líneas entre RDDs y tablas relacionales. Spark SQL permite:

- Importar datos relacionales de archivos Parquet y tablas Hive
- Ejecutar consultas SQL sobre datos importados y RDDs existentes
- Escribir fácilmente RDDs en tablas Hive o archivos Parquet.

Spark SQL también incluye un optimizador basado en costes, almacenamiento en columnas y generación de código para agilizar las consultas. Al mismo tiempo, escala a miles de nodos y consultas de varias horas utilizando el motor Spark, que proporciona una tolerancia total a fallos a mitad de consulta, sin tener que preocuparse de utilizar un motor diferente para los datos históricos.

____________________________________________________

**1.- Crear sessión PySpark SQL**



```
from pyspark.sql.functions import col, when, avg
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("TallerSQL").getOrCreate()
```

In [1]:
from pyspark.sql.functions import col, when, avg
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("TallerSQL").getOrCreate()

**2.-Crear DataFrame Spark:**
- Al menos 15 registros: nombres y edades entre (10 y 70 años)**
- Mostrar dataframe

```
df00 = spark.createDataFrame(
        [
            ("nombre1", 22),
            ("nombre2", 31),
        ],
        ["Nombre", "Edad"],
)
```

In [27]:
df00 = spark.createDataFrame(
        [
            ("nombre1", 22),
            ("nombre2", 31),
            ("nombre3", 10),
            ("nombre4", 31),
            ("nombre5", 10),
            ("nombre6", 31),
            ("nombre7", 10),
            ("nombre8", 56),
            ("nombre9", 67),
            ("nombre10", 70),
            ("nombre11", 50),
            ("nombre12", 20),
            ("nombre13", 25),
            ("nombre14", 45),
            ("nombre15", 18),
        ],
        ["Nombre", "Edad"],
)
df00.show(15)

+--------+----+
|  Nombre|Edad|
+--------+----+
| nombre1|  22|
| nombre2|  31|
| nombre3|  10|
| nombre4|  31|
| nombre5|  10|
| nombre6|  31|
| nombre7|  10|
| nombre8|  56|
| nombre9|  67|
|nombre10|  70|
|nombre11|  50|
|nombre12|  20|
|nombre13|  25|
|nombre14|  45|
|nombre15|  18|
+--------+----+

**3.- Agregue una nueva columna "Etapa":**
- Niño: menores de 12 años
- Adolescente: menores de 19 años
- Adulto: mayor que 19 años
- Mostrar dataframe



```
df1 = df.withColumn(
    "nombreColumna",
    when(col("nom") < 100, "vivo")
    .when(col("nom").between(100, 180), "novivo")
    .otherwise("nacer"),
)
```

In [28]:


df1 = df00.withColumn(
    "Etapa",
    when(col("Edad") < 12, "Niño")
    .when(col("Edad") < 19, "Adolescente")
    .otherwise("Adulto"),
)
df1.show(15)

+--------+----+-----------+
|  Nombre|Edad|      Etapa|
+--------+----+-----------+
| nombre1|  22|     Adulto|
| nombre2|  31|     Adulto|
| nombre3|  10|       Niño|
| nombre4|  31|     Adulto|
| nombre5|  10|       Niño|
| nombre6|  31|     Adulto|
| nombre7|  10|       Niño|
| nombre8|  56|     Adulto|
| nombre9|  67|     Adulto|
|nombre10|  70|     Adulto|
|nombre11|  50|     Adulto|
|nombre12|  20|     Adulto|
|nombre13|  25|     Adulto|
|nombre14|  45|     Adulto|
|nombre15|  18|Adolescente|
+--------+----+-----------+

**4.- Filtre los datos que son solo 'Adolescentes y Adultos'**


```
dfA.where(col("columna").isin(["vivo", "novivo"])).show()
```

In [29]:


df2 = df1.where(col("Etapa").isin(["Adolescente", "Adulto"]))
df2.show()

+--------+----+-----------+
|  Nombre|Edad|      Etapa|
+--------+----+-----------+
| nombre1|  22|     Adulto|
| nombre2|  31|     Adulto|
| nombre4|  31|     Adulto|
| nombre6|  31|     Adulto|
| nombre8|  56|     Adulto|
| nombre9|  67|     Adulto|
|nombre10|  70|     Adulto|
|nombre11|  50|     Adulto|
|nombre12|  20|     Adulto|
|nombre13|  25|     Adulto|
|nombre14|  45|     Adulto|
|nombre15|  18|Adolescente|
+--------+----+-----------+

### Consultas al Dataframe por SQL

**5.- Consulte el promedio de la columna Edad**



```
spark.sql("select avg(Edad) from {dfB}", dfB=dfB).show()
```

In [30]:
dfB = df1
spark.sql("select avg(Edad) from {dfB}", dfB=dfB).show()

+-----------------+
|        avg(Edad)|
+-----------------+
|33.06666666666667|
+-----------------+

**6.- Consulte el promedio de la columna Edad por Etapa**



```
spark.sql("select colStage, avg(edad) from {dfH} group by colStage", dfH=dfH).show()
```

In [24]:
dfH = df1
spark.sql("select Etapa, avg(Edad) from {dfH} group by Etapa", dfH=dfH).show()

+-----------+-----------------+
|      Etapa|        avg(Edad)|
+-----------+-----------------+
|       Niño|             10.0|
|     Adulto|40.72727272727273|
|Adolescente|             18.0|
+-----------+-----------------+

**7.- Persistencia: crear un tabla para ser facilmente accesible por el API SQL**

- Crear la tabla
- Mostrar la tabla creada
- Insertar al menos 4 nuevos registros
- Mostrar nueva tabla

```
dfG.write.saveAsTable("nombreTabla")

spark.sql("select * from nombreTabla").show()

spark.sql("INSERT INTO nombreTabla VALUES ('nNombre', 14, 'vivo')")
```

In [35]:
dfG.write.saveAsTable("nombreTabla")

In [39]:
spark.sql("select * from nombreTabla").show()

spark.sql("INSERT INTO nombreTabla VALUES ('nombre16', 28, 'Adulto')")
spark.sql("INSERT INTO nombreTabla VALUES ('nombre17', 17, 'Adolescente')")
spark.sql("INSERT INTO nombreTabla VALUES ('nombre18', 10, 'Niño')")
spark.sql("INSERT INTO nombreTabla VALUES ('nombre19', 42, 'Adulto')")

+--------+----+-----------+
|  Nombre|Edad|      Etapa|
+--------+----+-----------+
| nombre8|  56|     Adulto|
| nombre9|  67|     Adulto|
|nombre10|  70|     Adulto|
|nombre11|  50|     Adulto|
|nombre12|  20|     Adulto|
|nombre13|  25|     Adulto|
|nombre14|  45|     Adulto|
|nombre15|  18|Adolescente|
| nombre1|  22|     Adulto|
| nombre2|  31|     Adulto|
| nombre3|  10|       Niño|
| nombre4|  31|     Adulto|
| nombre5|  10|       Niño|
| nombre6|  31|     Adulto|
| nombre7|  10|       Niño|
|nombre17|  17|Adolescente|
|nombre19|  42|     Adulto|
|nombre16|  28|     Adulto|
|nombre18|  10|       Niño|
| nNombre|  14|       vivo|
+--------+----+-----------+
only showing top 20 rows

DataFrame[]

**8.- Consulte en la tabla los adolescentes:**



```
spark.sql("select * from TablaNombre where NTapaS='vivos'").show()
```

In [41]:
spark.sql("select * from nombreTabla where Etapa='Adolescente'").show()

+--------+----+-----------+
|  Nombre|Edad|      Etapa|
+--------+----+-----------+
|nombre15|  18|Adolescente|
|nombre17|  17|Adolescente|
|nombre17|  17|Adolescente|
+--------+----+-----------+

## RDD Spark

**9.- Carge el Fichero [texto.txt](https://github.com/corredor-john/ExploratoryDataAnalisys/blob/f5444496cfbb1a2c2ec2c71592c321e557c0e5ae/Texto/SMSSpamCollection.txt) para ser leido por el contexto SPARK**

- Descargue el fichero
- Crear el contexto y cargue el fichero



```
fichero = spark.sparkContext.textFile("texto.txt")

counts = (
    fichero.flatMap(lambda linea: linea.split(" "))
    .map(lambda palabra: (palabra, 1))
    .reduceByKey(lambda a, b: a + b)
)
```

In [43]:
!wget https://raw.githubusercontent.com/corredor-john/ExploratoryDataAnalisys/f5444496cfbb1a2c2ec2c71592c321e557c0e5ae/Texto/SMSSpamCollection.txt
fichero = spark.sparkContext.textFile("SMSSpamCollection.txt")
counts = (
    fichero.flatMap(lambda linea: linea.split(" "))
    .map(lambda palabra: (palabra, 1))
    .reduceByKey(lambda a, b: a + b)
)
counts.collect()

--2025-05-05 13:54:10--  https://raw.githubusercontent.com/corredor-john/ExploratoryDataAnalisys/f5444496cfbb1a2c2ec2c71592c321e557c0e5ae/Texto/SMSSpamCollection.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 477907 (467K) [text/plain]
Saving to: ‘SMSSpamCollection.txt.1’

SMSSpamCollection.t 100%[===================>] 466.71K  --.-KB/s    in 0.009s

2025-05-05 13:54:10 (49.1 MB/s) - ‘SMSSpamCollection.txt.1’ saved [477907/477907]

[('ham\tGo', 4),
 ('jurong', 1),
 ('point,', 1),
 ('world', 17),
 ('la', 2),
 ('buffet...', 1),
 ('Cine', 1),
 ('got', 204),
 ('wat...', 12),
 ('ham\tOk', 86),
 ('lar...', 18),
 ('Joking', 1),
 ('entry', 25),
 ('comp', 10),
 ('to', 2145),
 ('FA', 4),
 ('Cup', 3),
 ('21st', 3),
 ('2005.', 3),
 ('Text', 37),
 ('receive', 34),
 ('question(std', 2),
 ('txt', 75),
 ('apply', 15),
 ("08452810075over18's", 2),
 ('ham\tU', 47),
 ('say', 72),
 ('so', 295),
 ('U', 236),
 ('c', 44),
 ('then', 146),
 ('ham\tNah', 6),
 ('I', 1074),
 ('around', 53),
 ('here', 73),
 ('though', 15),
 ('spam\tFreeMsg', 5),
 ('Hey', 10),
 ('3', 49),
 ("week's", 4),
 ('and', 858),
 ('no', 124),
 ('word', 22),
 ('back!', 2),
 ('like', 224),
 ('fun', 22),
 ('you', 1625),
 ('up', 243),
 ('for', 650),
 ('it', 396),
 ('still?', 2),
 ('Tb', 1),
 ('ok!', 2),
 ('XxX', 2),
 ('send,', 2),
 ('ham\tEven', 4),
 ('brother', 9),
 ('speak', 17),
 ('with', 351),
 ('me.', 97),
 ('They', 20),
 ('me', 561),
 ('aids', 1),
 ('per', 55),
 ('request', 7),
 ('Melle', 3),
 ('set', 19),
 ('as', 134),
 ('Callers.', 5),
 ('Press', 8),
 ('*9', 5),
 ('friends', 29),
 ('valued', 11),
 ('network', 22),
 ('have', 474),
 ('receivea', 2),
 ('prize', 44),
 ('To', 76),
 ('claim', 73),
 ('Claim', 29),
 ('KL341.', 2),
 ('Valid', 20),
 ('only.', 15),
 ('months', 7),
 ('more?', 3),
 ('R', 28),
 ('Update', 12),
 ('latest', 27),
 ('colour', 19),
 ('mobiles', 7),
 ('camera', 20),
 ('Mobile', 29),
 ('Co', 5),
 ('FREE', 72),
 ('08002986030', 2),
 ('about', 150),
 ('this', 223),
 ('stuff', 32),
 ('enough', 22),
 ('chances', 2),
 ('CASH!', 2),
 ('From', 8),
 ('20,000', 2),
 ('pounds', 19),
 ('txt>', 2),
 ('CSH11', 2),
 ('send', 150),
 ('6days,', 2),
 ('16+', 22),
 ('TsandCs', 2),
 ('Reply', 48),
 ('4', 253),
 ('week', 68),
 ('membership', 3),
 ('our', 125),
 ('£100,000', 2),
 ('Prize', 14),
 ('Jackpot!', 2),
 ('CLAIM', 3),
 ('No:', 17),
 ('T&C', 12),
 ('LCCLTD', 2),
 ('POBOX', 6),
 ('4403LDNW1A7RW18', 2),
 ('searching', 5),
 ('right', 60),
 ('words', 14),
 ('thank', 9),
 ('promise', 7),
 ('take', 101),
 ('help', 29),
 ('granted', 1),
 ('will', 332),
 ('fulfil', 1),
 ('wonderful', 14),
 ('blessing', 2),
 ('at', 359),
 ('times.', 4),
 ('ham\tI', 390),
 ('A', 77),
 ('ON', 18),
 ('WILL!!', 1),
 ('spam\tXXXMobileMovieClub:', 1),
 ('use', 37),
 ('credit,', 1),
 ('message', 56),
 ('here>>', 1),
 ('http://wap.', 1),
 ('xxxmobilemovieclub.com?n=QJKGIGHJJGCBL', 1),
 ('watching', 22),
 ('here:)', 2),
 ('remember', 23),
 ('how', 110),
 ('spell', 3),
 ('his', 52),
 ('did.', 2),
 ('naughty', 4),
 ('wet.', 1),
 ('ham\tFine', 3),
 ('feel.', 1),
 ('gota', 1),
 ('b', 51),
 ('spam\tEngland', 1),
 ('Macedonia', 1),
 ('-', 88),
 ('miss', 63),
 ('goals/team', 1),
 ('ur', 297),
 ('eg', 11),
 ('Try:WALES,', 1),
 ('SCOTLAND', 1),
 ('POBOXox36504W45WQ', 1),
 ('seriously', 4),
 ('going', 142),
 ('try', 39),
 ('ha', 7),
 ('joking', 2),
 ('ü', 105),
 ('pay', 28),
 ('first', 41),
 ('Then', 29),
 ('da', 72),
 ('ham\tAft', 1),
 ('smth', 12),
 ('already?', 14),
 ('Alright', 1),
 ('ham\tJust', 44),
 ('myself', 8),
 ('really', 69),
 ('hungry', 8),
 ('tho.', 3),
 ('sucks.', 4),
 ('Mark', 4),
 ('getting', 46),
 ('turn', 3),
 ('Lol', 7),
 ('ham\tLol', 41),
 ('always', 46),
 ('convincing.', 1),
 ('catch', 8),
 ('an', 108),
 ('eating', 5),
 ("mom's", 4),
 ('left', 24),
 ('dinner', 24),
 ('feel', 55),
 ('back', 111),
 ('&amp;', 84),
 ('packing', 1),
 ('car', 33),
 ('now,', 16),
 ("I'll", 122),
 ("there's", 17),
 ('room', 24),
 ('ham\tAhhh.', 1),
 ('that!', 7),
 ('What', 48),
 ('does', 20),
 ('like?', 4),
 ("that's", 31),
 ('still', 135),
 ('clear,', 1),
 ('were', 53),
 ('being', 43),
 ('sarcastic', 2),
 ('live', 27),
 ('us', 51),
 ('fallen', 1),
 ('actin', 1),
 ('caught', 2),
 ('that.', 23),
 ('2!', 3),
 ('But', 113),
 ("won't", 22),
 ('there!', 6),
 ('doing', 64),
 ('too', 69),
 ('cheers.', 1),
 ('', 618),
 ('ham\tK', 25),
 ('anything', 48),
 ('ham\tFor', 8),
 ('of', 592),
 ('fainting', 1),
 ('housework', 1),
 ('just', 238),
 ('did?', 1),
 ('Quick', 1),
 ('spam\tThanks', 9),
 ('subscription', 3),
 ('UK', 8),
 ('Please', 40),
 ('confirm', 8),
 ('by', 156),
 ('YES', 11),
 ('NO.', 2),
 ('If', 99),
 ('reply', 74),
 ('ham\tYup...', 6),
 ('Ok', 11),
 ('timings', 1),
 ('Xuhui', 2),
 ('learn', 7),
 ('2nd', 30),
 ('but', 284),
 ('her', 101),
 ('lesson', 13),
 ('8am', 1),
 ('ham\tOops,', 1),
 ("roommate's", 2),
 ('done', 24),
 ('see', 113),
 ('letter', 3),
 ("How's", 10),
 ('did', 60),
 ("you'd", 6),
 ('anything!', 1),
 ('ham\tPls', 24),
 ('watts.', 1),
 ('sure.', 6),
 ('weekend.', 8),
 ('Abiola', 9),
 ('forget', 18),
 ('most', 24),
 ('love', 114),
 ('sweet', 21),
 ('Arabian', 1),
 ('steed', 1),
 ('Mmmmmm', 1),
 ('spam\t07732584351', 1),
 ('Burns', 1),
 ('We', 80),
 ('sms', 14),
 ('nokia', 6),
 ('08000930705', 14),
 ('tomorrow', 53),
 ('ham\tWHO', 1),
 ('YOU', 25),
 ('SEEING?', 1),
 ('ham\tGreat!', 5),
 ('hope', 51),
 ('man', 20),
 ('well', 39),
 ('&lt;#&gt;', 269),
 ('inches...', 1),
 ("ham\tDidn't", 2),
 ('immunisation', 1),
 ('on?', 2),
 ('could', 56),
 ('ask', 82),
 ('bit', 35),
 ('am.', 3),
 ('even', 47),
 ('hospital.', 5),
 ('Hospitals', 1),
 ('are', 397),
 ('suckers.', 1),
 ('ham\tWhat', 52),
 ('First', 5),
 ('saw', 21),
 ('gram', 3),
 ('runs', 3),
 ('eighth', 1),
 ('almost', 12),
 ('whole', 14),
 ('fyi', 3),
 ("he's", 24),
 ('crashing', 1),
 ('place', 45),
 ('tonight', 28),
 ('never', 32),
 ('accomodations.', 1),
 ('liked', 7),
 ('best', 33),
 ('cave".', 1),
 ('more', 87),
 ('offered.', 1),
 ('ac', 4),
 ('Sptv:', 1),
 ('Jersey', 1),
 ('Detroit', 1),
 ('Red', 2),
 ('Ice', 1),
 ('Hockey.', 1),
 ('Incorrect?', 1),
 ('SPTV', 1),
 ('what', 140),
 ('yesterday?', 2),
 ('@', 11),
 ('&lt;URL&gt;', 3),
 ('year', 24),
 ('cinema', 5),
 ('yours.', 11),
 ('09061209465', 3),
 ('Suprman', 3),
 ('V,', 3),
 ('etc', 7),
 ('out!', 10),
 ('meeting.', 3),
 ('ham\tTell', 15),
 ('where', 57),
 ('ham\tYes..gauti', 1),
 ('sehwag', 1),
 ('ham\tYour', 15),
 ('yourself', 14),
 ('home.', 30),
 ('Pain', 3),
 ('killing', 2),
 ('ham\tHa', 4),
 ('good', 114),
 ('joke.', 3),
 ('situation', 5),
 ('seekers.', 1),
 ('ham\tIts', 30),
 ('part', 25),
 ('checking', 11),
 ('took', 17),
 ('come', 199),
 ('hair', 19),
 ('dresser', 3),
 ('cut', 10),
 ('nice.', 7),
 ('recent', 3),
 ('review', 5),
 ('£1500', 3),
 ('Bonus', 15),
 ('09066364589', 2),
 ('ham\tToday', 9),
 ('"song', 2),
 ('dedicated', 2),
 ('day.."', 2),
 ('Which', 9),
 ('dedicate', 2),
 ('frnds', 9),
 ('rply', 10),
 ('complimentary', 11),
 ('EuroDisinc', 2),
 ('Aco&Entry41', 2),
 ('Or', 28),
 ('£1000.', 2),
 ('LS1', 2),
 ('spam\tDid', 1),
 ('hear', 26),
 ('new', 89),
 ('It', 41),
 ('comes', 16),
 ("Ken's", 1),
 ('stuff!', 1),
 ('plane', 3),
 ('give', 89),
 ('month', 18),
 ('money...', 1),
 ('Hee...', 9),
 ('class', 27),
 ('BABE', 6),
 ('IM', 17),
 ('AT', 23),
 ('NOW', 25),
 ('ham\tK..k:)where', 1),
 ('you?how', 1),
 ('ham\tThats', 9),
 ('cool.', 8),
 ('gentleman', 3),
 ('dignity', 3),
 ('respect.', 3),
 ('peoples', 1),
 ('shy', 1),
 ('Still', 6),
 ('looking', 28),
 ('How', 80),
 ('there.', 32),
 ('ah?', 14),
 ('ham\tYou', 73),
 ('stop.', 9),
 ('urgnt,', 2),
 ('tickets', 7),
 ('jacket', 2),
 ('used', 12),
 ('started', 17),
 ('requests', 1),
 ('pain', 17),
 ('bed.', 6),
 ('coins', 2),
 ('factory', 1),
 ('gotta', 10),
 ('cash', 51),
 ('ham\tEla', 1),
 ('download,', 1),
 ('wen', 11),
 ('do!', 1),
 ('stand', 7),
 ('tho-', 1),
 ('something!', 2),
 ('another', 32),
 ('spent', 8),
 ('afternoon', 11),
 ('means', 23),
 ('Sorry.', 5),
 ('ham\tSmile', 2),
 ('Pleasure', 3),
 ('pours', 2),
 ('Rain', 2),
 ('becoz', 3),
 ('SOMEONE', 3),
 ('Smiling!!', 2),
 ('spam\tPlease', 11),
 ('service', 45),
 ('0800', 13),
 ('169', 2),
 ('6031', 2),
 ('between', 31),
 ('10am-9pm', 2),
 ('WON', 19),
 ('£1000', 33),
 ('£5000', 19),
 ('ham\tHavent', 5),
 ('planning', 8),
 ('buy', 54),
 ('later.', 24),
 ('lido', 1),
 ('530', 5),
 ('show', 19),
 ('work', 62),
 ('Simply', 2),
 ('text', 126),
 ('85069', 2),
 ('Usher', 2),
 ('Box', 23),
 ('16', 27),
 ('ham\tWatching', 10),
 ('u?', 19),
 ('see.', 5),
 ('When', 26),
 ('loads', 10),
 ('loans', 1),
 ('ham\tHi.', 7),
 ('Wk', 2),
 ('hols', 2),
 ('hairdressers', 1),
 ('shower', 6),
 ('Does', 4),
 ('cause', 16),
 ('cup', 4),
 ('coffee', 6),
 ('nothing', 15),
 ('name', 30),
 ('long', 31),
 ('Wen', 4),
 ('up?', 9),
 ('ave', 4),
 ('yet.', 11),
 ("You're", 6),
 ('mean', 18),
 ('boston', 3),
 ('changed', 5),
 ('nyc,', 1),
 ('something', 47),
 ('signin', 1),
 ('page', 5),
 ('says', 25),
 ('boston.', 1),
 ('ham\tThanks', 18),
 ('making', 21),
 ('birthday', 15),
 ('truly', 4),
 ('memorable.', 1),
 ('ham\tAight,', 15),
 ('would', 65),
 ("isn't", 9),
 ('minecraft', 1),
 ('know!', 8),
 ('old', 15),
 ('people.', 6),
 ('again', 29),
 ('jokes...', 1),
 ('busy.', 1),
 ('plural', 1),
 ('research?', 2),
 ('ham\tGoing', 5),
 ('dinner.msg', 1),
 ('after.', 1),
 ('cos', 54),
 ('mah.', 4),
 ('Cos', 16),
 ('loud.', 1),
 ('contact', 67),
 ('Last', 13),
 ('weekends', 7),
 ('draw', 37),
 ('09064012160.', 2),
 ('K52.', 2),
 ('150ppm', 28),
 ('openin', 1),
 ('sentence', 3),
 ('formal...', 1),
 ('too,', 4),
 ('eatin', 5),
 ('weight...Haha...', 1),
 ('anythin', 3),
 ('PA', 5),
 ("''", 10),
 ('Boss', 5),
 ('She', 33),
 ('askd', 11),
 ('After', 12),
 ('apartment.', 5),
 ('spam\tYou', 47),
 ('specially', 9),
 ('4*', 24),
 ('holiday', 18),
 ('inc)', 4),
 ('0871277810910p/min', 1),
 ('friday', 8),
 ('egg-potato', 1),
 ('ham\tHmm...my', 1),
 ('paying', 7),
 ('school', 21),
 ('food.', 3),
 ('Your', 80),
 ('2004', 5),
 ('07742676969', 2),
 ('786', 4),
 ('Points.', 3),
 ('08719180248', 2),
 ('Code:', 13),
 ('45239', 3),
 ('Expires', 17),
 ('£2000', 20),
 ('from', 255),
 ('BOX42WR29C,', 1),
 ('150PPM', 2),
 ('ham\there', 1),
 ('-apples&pairs&all', 1),
 ('spam\tTodays', 6),
 ('Voda', 5),
 ('numbers', 11),
 ('ending', 8),
 ('7548', 1),
 ('award.', 11),
 ('quoting', 5),
 ('standard', 6),
 ('rates', 10),
 ('app', 5),
 ('sao', 1),
 ('ham\tÜ', 26),
 ("ü'll", 2),
 ('know,yetunde', 1),
 ("hasn't", 2),
 ('sent', 61),
 ('bother', 4),
 ('sending.', 1),
 ('over,', 2),
 ('involve', 1),
 ('anything.', 7),
 ("shouldn't", 5),
 ('ham\tAre', 33),
 ('U?', 6),
 ('AGAIN', 1),
 ('LONG', 2),
 ('TIME', 9),
 ('C!', 1),
 ('GIVE', 4),
 ('CALL', 27),
 ('ham\tK..k:)how', 2),
 ('ham\tDear,', 2),
 ('accomodate.', 1),
 ('answer', 16),
 ('Win', 10),
 ('Sony', 6),
 ('player', 11),
 ('country', 4),
 ('ansr', 4),
 ('SP:Tyrone', 4),
 ('spam\tWant', 8),
 ('laid', 4),
 ('tonight?', 18),
 ('Want', 8),
 ('Dogging', 9),
 ("UK's", 6),
 ('largest', 4),
 ('Network', 2),
 ('bt', 14),
 ('Txting', 1),
 ('69888!', 1),
 ('Nt.', 1),
 ('haf', 20),
 ('msn.', 1),
 ('yijue@hotmail.com', 1),
 ('ham\tHe', 22),
 ('befor', 4),
 ("spam\tYou'll", 1),
 ('msgs', 6),
 ('svc.', 1),
 ('Hardcore', 1),
 ('GO', 16),
 ('69988', 1),
 ('Verify', 1),
 ('lazy', 7),
 ('ham\tSir,', 10),
 ('Waiting', 3),
 ('swt', 1),
 ('tired', 10),
 ('little', 28),
 ('persons.."', 1),
 ('Coz..somtimes', 1),
 ('d', 94),
 ('biggest', 4),
 ('their', 14),
 ('ni8', 13),
 ('Can', 43),
 ('dot', 1),
 ('ham\tWhats', 2),
 ('staff', 1),
 ('replied', 5),
 ('text?', 2),
 ('Randy,', 1),
 ('sexy,', 1),
 ('female', 3),
 ('u.', 27),
 ('Stop', 10),
 ('end', 28),
 ('begin', 2),
 ('qatar', 3),
 ('pray', 6),
 ('ham\tK..i', 1),
 ('deleted', 4),
 ('birla', 3),
 ('wine', 7),
 ('flowing', 2),
 ('thk', 38),
 ('plaza', 2),
 ('typical', 1),
 ('everywhere', 1),
 ('out.', 21),
 ('dream', 7),
 ('without', 27),
 ('lots', 13),
 ('tv', 22),
 ('i.ll', 9),
 ('exist,', 1),
 ('hail', 1),
 ('done,', 4),
 ('become', 6),
 ('one.', 10),
 ('ham\tHello,', 7),
 ('doing?', 10),
 ('interview', 3),
 ('today?', 16),
 ('happy?', 3),
 ('boy?', 5),
 ('me?Are', 1),
 ('spam\tCustomer', 4),
 ('ham\tKeep', 2),
 ('safe', 8),
 ('because', 33),
 ('everyone', 12),
 ('ham\tNew', 4),
 ('parents.:)i', 1),
 ('excited', 1),
 ('day', 102),
 ('spend', 10),
 ('STOP', 45),
 ('bootydelious', 1),
 ('friend.', 8),
 ('NO-434', 1),
 ('See', 26),
 ('FRND', 6),
 ('spam\tBangBabes', 1),
 ('SHOULD', 1),
 ('Msg', 4),
 ('content.', 5),
 ('wap.', 3),
 ('bangb.', 1),
 ('points', 4),
 ('cultures', 1),
 ('S89.', 1),
 ('ham\tHi', 45),
 ('avoid', 2),
 ('missunderstding', 1),
 ("one's?", 1),
 ('escape.', 1),
 ('bridge', 1),
 ('needs', 15),
 ('lager.', 1),
 (':)it', 2),
 ('form:)clark', 2),
 ('utter', 2),
 ('BANK', 1),
 ('account', 20),
 ('bank', 10),
 ('Thk', 8),
 ('hop', 7),
 ('Ya,', 3),
 ('discuss', 5),
 ('liao...', 21),
 ('believe', 16),
 ('.', 241),
 ('Ill', 5),
 ('spanish', 1),
 ('bath', 9),
 ('good...fine', 1),
 ('night.', 13),
 ("you've", 7),
 ('mall?', 1),
 ('ham\tTurns', 1),
 ('staying', 8),
 ('~', 1),
 ('worth', 16),
 ('her.', 13),
 ('doesnt', 8),
 ('ham\tHi!', 4),
 ('MANEESHA', 3),
 ('V.', 4),
 ("We'd", 3),
 ('Toll', 3),
 ('lifted', 1),
 ('Especially', 1),
 ('trust', 7),
 ('ham\tok.', 1),
 ('handsome', 1),
 ('!', 56),
 ('finding', 1),
 ('towards', 7),
 ('mummy', 3),
 ("Where's", 2),
 ('minute', 12),
 ('FREEPHONE', 8),
 ('4742', 4),
 ('9am-11pm', 4),
 ('radio', 4),
 ('bathe', 8),
 ('first.', 4),
 ('using', 9),
 ('spam\tAre', 1),
 ('unique', 3),
 ('30th', 1),
 ('sorry.', 5),
 ('league', 1),
 ('touch.', 1),
 ('deal', 6),
 ('friend', 33),
 ('times', 19),
 ('personal', 6),
 ('week.|', 1),
 ('suggest', 3),
 ('ors', 1),
 ('stool.', 1),
 ('settled', 3),
 ('year.', 11),
 ('wishin', 2),
 ('ham\tGud', 8),
 ('mrng', 8),
 ('hav', 22),
 ('persons', 6),
 ('story', 16),
 ('hamster', 2),
 ('dead?', 1),
 ('tmr', 13),
 ('1pm', 1),
 ('orchard', 9),
 ('can.', 4),
 (':)', 57),
 ('darlin', 7),
 ('successfully', 2),
 ('INR', 2),
 ('&lt;DECIMAL&gt;', 23),
 ('balance', 6),
 ('Transaction', 4),
 ('sleeping', 8),
 ('ga.', 1),
 ('alter', 1),
 ('ok.', 26),
 ('dat', 33),
 ('ericsson', 2),
 ('oso', 16),
 ('oredi', 5),
 ('dats', 1),
 ('dogg', 1),
 ('connection', 5),
 ('before', 51),
 ('refund', 1),
 ('ham\tBoth', 1),
 ('shoot', 4),
 ('big', 30),
 ("ham\tWhat's", 9),
 ('ham\tHome', 1),
 ('ham\tK:)k:)good:)study', 1),
 ('ham\tSounds', 9),
 ('great!', 4),
 ('ham\tFinally', 2),
 ('prediction.', 1),
 ('ham\tTired.', 1),
 ('slept', 6),
 ('past', 7),
 ('ah?sen', 2),
 ('should.', 1),
 ('know.', 12),
 ('ready.', 2),
 ('Take', 15),
 ('time.', 26),
 ('ham\tThere', 10),
 ('called', 31),
 ('important', 15),
 ('repair', 2),
 ('shop..', 1),
 ('course', 8),
 ('happen', 18),
 ('lar.', 9),
 ('scenery', 1),
 ('leh.', 7),
 ('spam\t500', 3),
 ('Mobiles', 3),
 ('2004,', 3),
 ('Txt:', 5),
 ('NOKIA', 15),
 ('89545', 3),
 ('collect', 21),
 ('ONLY', 10),
 ('£1', 2),
 ('2optout', 4),
 ('087187262701.50gbp/mtmsg18', 3),
 ('ham\tWould', 2),
 ('to.', 8),
 ('partner', 4),
 ('start?', 1),
 ('find', 64),
 ('HORO', 2),
 ('star', 1),
 ('ham\tLife', 3),
 ('strict', 1),
 ('than', 37),
 ('ham\tDear', 21),
 ('ham\tGet', 5),
 ('road.', 3),
 ('Right', 2),
 ('side', 8),
 ('road', 4),
 ('battery', 7),
 ('died,', 2),
 ('yeah', 17),
 ('available', 11),
 ('date', 10),
 ('flirt', 3),
 ('U.', 17),
 ('REPLY', 1),
 ('NAME', 6),
 ('25.', 1),
 ('18', 20),
 ('-msg', 1),
 ('recd@thirtyeight', 1),
 ('pence', 3),
 ('upstairs', 1),
 ('closer', 3),
 ('you?when', 1),
 ('reach', 28),
 ('here?', 6),
 ('Theory:', 3),
 ('Argument', 3),
 ('wins', 3),
 ('SITUATION,', 3),
 ('loses', 3),
 ('kick', 7),
 ('447801259231', 2),
 ('admirer', 6),
 ('they', 92),
 ('R*reveal', 8),
 ('thinks', 13),
 ('laptop', 7),
 ('ham\tPLEASSSSSSSEEEEEE', 1),
 ('AVENT', 1),
 ('DONE', 3),
 ('ham\tOkay.', 2),
 ('no,', 4),
 ('on.', 4),
 ('better.', 3),
 ('ham\tAlthough', 1),
 ('baig', 1),
 ('watches', 1),
 ('Thanx', 4),
 ('everything', 22),
 ('today,', 3),
 ('touched...', 1),
 ('website.', 3),
 ('asked', 24),
 ('ham\tKallis', 2),
 ('innings.', 2),
 ('didnt', 28),
 ('then.', 11),
 ('I.ll', 14),
 ('ready', 32),
 ('up.', 17),
 ('spam\tCongratulations', 9),
 ('500', 20),
 ('CD', 8),
 ('125gift', 3),
 ('cal', 4),
 ('Deeraj', 2),
 ('deepak', 2),
 ('ham\tWen', 5),
 ('bcums', 4),
 ('angry', 16),
 ('wid', 20),
 ('u,', 8),
 ('dnt', 11),
 ('seriously..', 4),
 ('Coz', 9),
 ('childish', 4),
 ('true', 10),
 ('affection,', 4),
 ('doing?how', 2),
 ('3days', 1),
 ('also,', 1),
 ('2wks.', 1),
 ('other', 47),
 ('bribe', 1),
 ('headin', 1),
 ('suzy', 1),
 ('spam\tWe', 10),
 ('Handset?', 2),
 ('anytime', 13),
 ('UNLIMITED', 6),
 ('TEXT?', 3),
 ('parked', 3),
 ('MINI!!!!', 1),
 ('ham\tAnyway', 4),
 ('own', 8),
 ('Dun', 7),
 ('liao.', 5),
 ('IN', 21),
 ('RING', 3),
 ('H*', 1),
 ('horny', 6),
 ('69698', 2),
 ('150pm', 3),
 ('ham\tWhy', 15),
 ('ham\tSame.', 1),
 ('ham\tNot', 21),
 ('yet,', 1),
 ('spam\tUr', 11),
 ('changed!', 1),
 ...]

## **10.- Conclusiones: redacte sus conclusiones por cada paso y conclusión final de Cierre**

- El tiempo fue suficiente, Se logró cubrir los objetivos del taller y explorar las principales funcionalidades de Spark SQL y RDDs en el tiempo asignado.

- Spark SQL facilita el análisis de datos, permite usar la familiaridad de SQL para realizar consultas sobre DataFrames de Spark, lo que simplifica el análisis de datos distribuidos.

- Spark es versátil, se puede usar tanto para procesar datos estructurados con DataFrames y SQL como para datos no estructurados con RDDs.

- La persistencia de datos mejora la eficiencia, crear tablas persistentes facilita el acceso y la reutilización de los datos en consultas SQL.

- Se cumplió el objetivo de usar SQL como motor de consultas sobre DataFrames de Spark. Se crearon DataFrames, se realizaron consultas SQL sobre ellos, y se persistieron en tablas para un acceso eficiente. Esto demuestra la capacidad de Spark SQL para integrar el lenguaje SQL con el ecosistema Spark, permitiendo un análisis de datos distribuidos de manera familiar y eficiente.

- Spark SQL es una herramienta impresionante que simplifica el análisis de datos a gran escala. Su capacidad para combinar la familiaridad de SQL con la potencia de Spark abre un abanico de posibilidades para explorar y obtener información valiosa de conjuntos de datos complejos.